@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,400&family=EB+Garamond:wght@400;800&display=swap');
/* font-family: 'Cormorant Garamond', serif;
font-family: 'EB Garamond', serif; */
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}
body{
    background-color: #d6d6d7;
}

header nav h1{
    width: 100%;
    height: 10vh;
    color: #ECE3CE;
    background-color: #232D3F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
}
header nav h1 span{
    color: #BB2525;
}
.sem{
    width: 100%;
    height: 10vh;
    background-color:#b02424;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
.cont{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}
.box{
    margin: 7vh 0px;
    width: 80vw;
    height: 80vh;
    overflow: auto;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
}
.box p{
    margin: 20px 0px;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'EB Garamond', serif; 
}
button {
    outline: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 140px;
    height: 50px;
    border-radius: 0.5em;
    box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
    overflow: hidden;
    margin: 20px;
   }
   
   button div {
    transform: translateY(0px);
    width: 100%;
   }
   
   button,
   button div {
    transition: 0.6s cubic-bezier(.16,1,.3,1);
   }
   
   button div span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0.75em 1.125em;
   }
   
   button div:nth-child(1) {
    background-color: #232D3F;
   }
   
   button div:nth-child(2) {
    background-color: #21dc62;
   }
   
   button:hover {
    box-shadow: 0 0.625em 1em 0 rgba(33, 220, 98, 0.35);
   }
   
   button:hover div {
    transform: translateY(-50px);
   }
   
   button p {
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
   }
   
   button:active {
    transform: scale(0.95);
   }